body {
    background-color: #333;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#app-wrapper {
    display: flex; /* Use flexbox to control layout */
}

.medieval-box {
    border: 3px solid #7a5c48;
    background-image: url('../assets/images/paper.png'); /* Replace with an actual image path */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

#file-explorer {
    flex: 1; /* Adjust flex property to control width */
    border: 2px solid #4a148c;
    color: #fff;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

#editor {
    flex: 2; /* Adjust flex property to control width */
    border: 2px solid #4a148c;
    color: #fff;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.explorer-header {
    background-color: #4a148c;
    padding: 10px;
    cursor: pointer;
    color: #fff;
  }
  
  .explorer-header:hover {
    background-color: #7a5c48;
  }
  
  .toggle-icon {
    font-size: 18px;
    transition: transform 0.2s;
  }
  
  .explorer-content.collapsed {
    display: none;
  }